TZ=Asia/Jakarta
PUID=1000
PGID=1000
UMASK=002

NETWORK_DATA_ROOT=/opt/homelab/network
APPS_DATA_ROOT=/opt/homelab/apps
MEDIA_DATA_ROOT=/opt/homelab/media
ADGUARD_DNS_IP=192.168.100.127

CLOUDFLARE_TUNNEL_TOKEN=
SONARR_API_KEY=
RADARR_API_KEY=
